[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyflakes = "*"
pytest = "*"
pytest-asyncio = "*"

[packages]
kafka-python = "*"
aiohttp = "*"
pyyaml = "*"
asyncpg = "*"
aiokafka = "*"

[requires]
python_version = "3.7"
